# https://editorconfig.org/
# generated at 9/15/2022, 12:52:15 PM by streakingman-cli@1.9.2
# 该配置文件是给webstorm使用的
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
